<p id="notice"><%= notice %></p>

<h1>Listing Worksites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Budget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worksites.each do |worksite| %>
      <tr>
        <td><%= worksite.name %></td>
        <td><%= worksite.location %></td>
        <td><%= worksite.start_date %></td>
        <td><%= worksite.end_date %></td>
        <td><%= worksite.budget %></td>
        <td><%= link_to 'Show', worksite %></td>
        <td><%= link_to 'Edit', edit_worksite_path(worksite) %></td>
        <td><%= link_to 'Destroy', worksite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worksite', new_worksite_path %>
